<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Dev_Example::first_level" title="Example Menu" sortOrder="51">
                    <resource id="Dev_Example::second_level" title="Example Sub Menu" sortOrder="10"/>
                </resource>
            </resource>
        </resources>
    </acl>
</config>